In [18]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('recipes/recipes.csv', header=0)

In [6]:
df

,'acorn squash',adobo,'african birdseye chile pepper',ale,'aleppo pepper','alfalfa sprouts','alfredo sauce',allspice,almond,'almond butter',...,yeast,'yellow curry paste','yellow food coloring','yellow split pea','yellow squash',yogurt,zaatar,zest,zucchini,cuisine
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4231,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
4232,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
4233,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
4234,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
4235,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11

In [11]:
df.cuisine.value_counts()

0     353
4     353
8     353
1     353
5     353
9     353
2     353
6     353
10    353
3     353
7     353
11    353
Name: cuisine, dtype: int64

In [22]:
data = df.to_numpy()
num_classes = len(df.cuisine.unique())

In [23]:
x_train, x_test, y_train, y_test = train_test_split(data[:, :-1], data[:, -1], test_size=0.3, shuffle=True)

In [37]:
tf.keras.backend.clear_session()
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128),
    tf.keras.layers.LeakyReLU(),
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(128),
    tf.keras.layers.LeakyReLU(),
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(num_classes)
])
model.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])
model.build(input_shape=(None, x_train.shape[1],))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               90880
_________________________________________________________________
leaky_re_lu (LeakyReLU)      (None, 128)               0
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 128)               16512
_________________________________________________________________
leaky_re_lu_1 (LeakyReLU)    (None, 128)               0
_________________________________________________________________
dropout_1 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_2 (Dense)              (None, 12)                1548
=================================================================
Total params: 108,940
Trainable params: 108,940
Non-trainable params: 0
_________________________________________________________________

In [38]:
model.fit(
    x=x_train,
    y=y_train,
    batch_size=32,
    epochs=20,
    validation_data=(x_test, y_test),
    shuffle=True
)

Epoch 1/20
93/93 [==============================] - 1s 5ms/step - loss: 2.3385 - accuracy: 0.2126 - val_loss: 1.4897 - val_accuracy: 0.6349
Epoch 2/20
93/93 [==============================] - 0s 3ms/step - loss: 1.3391 - accuracy: 0.6153 - val_loss: 0.9309 - val_accuracy: 0.6939
Epoch 3/20
93/93 [==============================] - 0s 3ms/step - loss: 0.9145 - accuracy: 0.7075 - val_loss: 0.8278 - val_accuracy: 0.7215
Epoch 4/20
93/93 [==============================] - 0s 3ms/step - loss: 0.7632 - accuracy: 0.7536 - val_loss: 0.7891 - val_accuracy: 0.7451
Epoch 5/20
93/93 [==============================] - 0s 3ms/step - loss: 0.6387 - accuracy: 0.8058 - val_loss: 0.7770 - val_accuracy: 0.7467
Epoch 6/20
93/93 [==============================] - 0s 3ms/step - loss: 0.5638 - accuracy: 0.8275 - val_loss: 0.7725 - val_accuracy: 0.7553
Epoch 7/20
93/93 [==============================] - 0s 3ms/step - loss: 0.5369 - accuracy: 0.8382 - val_loss: 0.7813 - val_accuracy: 0.7592
Epoch 8/20
93/93 [==============================] - 0s 3ms/step - loss: 0.4586 - accuracy: 0.8498 - val_loss: 0.7837 - val_accuracy: 0.7569
Epoch 9/20
93/93 [==============================] - 0s 3ms/step - loss: 0.4444 - accuracy: 0.8575 - val_loss: 0.7803 - val_accuracy: 0.7600
Epoch 10/20
93/93 [==============================] - 0s 3ms/step - loss: 0.4047 - accuracy: 0.8865 - val_loss: 0.7954 - val_accuracy: 0.7616
Epoch 11/20
93/93 [==============================] - 0s 3ms/step - loss: 0.3793 - accuracy: 0.8773 - val_loss: 0.8158 - val_accuracy: 0.7537
Epoch 12/20
93/93 [==============================] - 0s 3ms/step - loss: 0.3790 - accuracy: 0.8829 - val_loss: 0.8249 - val_accuracy: 0.7561
Epoch 13/20
93/93 [==============================] - 0s 3ms/step - loss: 0.3149 - accuracy: 0.8993 - val_loss: 0.8443 - val_accuracy: 0.7545
Epoch 14/20
93/93 [==============================] - 0s 3ms/step - loss: 0.3352 - accuracy: 0.8922 - val_loss: 0.8607 - val_accuracy: 0.7545
Epoch 15/20
93/93 [==============================] - 0s 3ms/step - loss: 0.3066 - accuracy: 0.9006 - val_loss: 0.8725 - val_accuracy: 0.7553
Epoch 16/20
93/93 [==============================] - 0s 3ms/step - loss: 0.3051 - accuracy: 0.9022 - val_loss: 0.9004 - val_accuracy: 0.7537
Epoch 17/20
93/93 [==============================] - 0s 3ms/step - loss: 0.2672 - accuracy: 0.9156 - val_loss: 0.9215 - val_accuracy: 0.7632
Epoch 18/20
93/93 [==============================] - 0s 3ms/step - loss: 0.2400 - accuracy: 0.9236 - val_loss: 0.9486 - val_accuracy: 0.7530
Epoch 19/20
93/93 [==============================] - 0s 3ms/step - loss: 0.2315 - accuracy: 0.9149 - val_loss: 0.9632 - val_accuracy: 0.7553
Epoch 20/20
93/93 [==============================] - 0s 3ms/step - loss: 0.2408 - accuracy: 0.9253 - val_loss: 0.9833 - val_accuracy: 0.7545